@page "/controller"


<div class="container d-block" style="margin-top: 150px">
    <div class="container justify-content-between row align-content-center ">
        <div class="card  border-0" style="width: 18rem;">
            <h3>Controller</h3>
            <button type="button" class="btn btn-success" style="margin-bottom: 20px">Change order status</button>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Order Id</span>
                </div>
                <input type="number" class="form-control" placeholder="id" aria-describedby="basic-addon1" style="max-width: 200px">
            </div>
        </div>
    </div>
</div>


@code {

}