@page "/Contacts"

<div class="container d-block">
    <h1>Our helping team always can answer your questions, if you have some...</h1>
</div>

<div class="container d-block"  style="margin-top: 150px">
    <div class="container justify-content-between row align-content-center ">
        <div class="card  border-0" style="width: 18rem;">
            <img class="card-img-top rounded-circle" src="Icon1.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">This girl can help you with everythink, but not with what you want.</p>
            </div>
        </div>
        <div class="card  border-0" style="width: 18rem;">
            <img class="card-img-top rounded-circle" src="Icon2.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">If you don't know what to do, just don't call this guy!</p>
            </div>
        </div>
        <div class="card  border-0" style="width: 18rem;">
            <img class="card-img-top rounded-circle" src="Icon3.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Deadinside zxc 1000 - 7? F9 ghoule 228 322</p>
            </div>
        </div>
    </div>
</div>

@code {

}