@page "/contacts"

<div class="container d-block">
    <h1>Our helping team always can answer your questions, if you have some...</h1>
</div>

<div class="container d-block"  style="margin-top: 150px">
    <div class="container justify-content-between row align-content-center ">
        <div class="card  border-0" style="width: 18rem;">
            <img class="card-img-top rounded-circle" src="Icon1.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Владимир, с удовольствием помогу определьтся с выбором, или решить вашу проблему</p>
            </div>
        </div>
        <div class="card  border-0" style="width: 18rem;">
            <img class="card-img-top rounded-circle" src="Icon2.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Елена, занимаюсь оптовыми заказами, могу сделать скидочку.</p>
            </div>
        </div>
        <div class="card  border-0" style="width: 18rem;">
            <img class="card-img-top rounded-circle" src="Icon3.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Сергей, в нашей компании ответственный за проблемы с персоналом и жалоб и жалобы на нашу работу</p>
            </div>
        </div>
    </div>
</div>

@code {

}