@page "/CourierById/{Id:long}"
@using Components
@using OrdersComponents
@using ToxiCode.BuyIt.Logistics.Ui.Models

<div class="container d-block">
    <div class="container justify-content-between row align-content-center">
        <CourierCard Courier="Couriers[Id]"/>
        <CourierDelivers/>
    </div>
</div>

@code {

    [Parameter]
    public long Id { get; set; }

    [Parameter]
    public IDictionary<long, NCourier> Couriers { get; set; } = Mock.GetCouriersMock();

}