@using ToxiCode.BuyIt.Logistics.Ui.Services.Abstractions
@using ToxiCode.BuyIt.Logistics.Ui.Models
@using ToxiCode.BuyIt.Logistics.Ui.Pages
@namespace ToxiCode.BuyIt.Logistics.Ui.Components
@inject IOrderService _orderService;

<h3>@OrderId Table</h3>

<div>
    <form>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Count</th>
            </tr>
            </thead>
            <tbody>
            @if(_order.Items is not null)
            {@foreach (var item in _order.Items)
            {
                <tr>
                    <th scope="row">@item.ItemId</th>
                    <td>@item?.ItemName</td>
                    <td>@item?.Count</td>
                </tr>
            }}
            </tbody>
        </table>
    </form>
</div>


@code {

    [Parameter]
    public long OrderId { get; set; }

    private GrpcOrderDto _order = new();

    protected override async Task OnInitializedAsync()
    {
        var result = await _orderService.GetOrderById(OrderId);
        // Console.WriteLine($@"{result.Items.Count()}");
        _order = result;
    }

}