@using ToxiCode.BuyIt.Logistics.Ui.Models
@namespace ToxiCode.BuyIt.Logistics.Ui.Components


<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="col-lg-2" style="margin-bottom: auto; margin-top: auto;">
                <Logo/>
            </div>
            <div class="col-lg-5" style="margin: auto auto">
                <nav class="topnav">
                    <a href="/orders" class="topnav__link">Orders</a>
                    <a href="/items" class="topnav__link">Items</a>
                    <a href="/controller" class="topnav__link">Controller</a>
                    <a href="/contacts" class="topnav__link">Contacts</a>
                </nav>
            </div>
        </div>
    </div>
</header>

@code {

}