@using ToxiCode.BuyIt.Logistics.Ui.Models
@using System.Runtime.CompilerServices
@namespace Components


<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="col-lg-2" style="margin-bottom: auto; margin-top: auto;">
                <Logo/>
            </div>
            <div class="col-lg-5" style="margin: auto auto">
                <nav class="topnav">
                    <a href="#" class="topnav__link">Заказы</a>
                    <a href="/Couriers" class="topnav__link">Курьеры</a>
                    <a href="/Contacts" class="topnav__link">Контакты</a>
                </nav>
            </div>
        </div>
    </div>
</header>

@code {

}