@using ToxiCode.BuyIt.Logistics.Ui.Models
@namespace Components

    <h3>Status: </h3>
    @switch (Business)
    {
        case Business.Free:
            <h3 class="text-success">Free</h3>
            break;
        case Business.ReceivesAnOrder:
            <h3 class="text-info">Receives an order</h3>
            break;
        case Business.DeliversTheOrder:
            <h3 class="text-primary">Delivers the order</h3>
            break;
        case Business.Break:
            <h3 class="text-warning">Break</h3>
            break;
        case Business.Offline:
            <h3 class="text-muted">Offline</h3>
            break;
        default:
            throw new ArgumentOutOfRangeException();
    }


@code {

    [Parameter]
    public Business Business { get; set; }

}