@using ToxiCode.BuyIt.Logistics.Ui.Models
@namespace Components


<div style="max-width: 700px!important; padding-top: 50px">
    <h3  class="text-left" style="font-weight: bold;">Courier Deliveries</h3>
    
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">To</th>
            <th scope="col">Start date</th>
            <th scope="col">End date</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var (key, delivery) in Deliveries)
        {
            <tr>
                <th scope="row">
                    <a href="/CourierById/@key">@delivery.Id</a>
                </th>
                <td>@delivery.To</td>
                <td>@delivery.DeliveryStart</td>
                <td>@delivery.DeliveryEnd</td>
            </tr>
        }
        </tbody>
    </table>
</div>

@code {

    [Parameter]
    public IDictionary<long, Delivery> Deliveries { get; set; } = new Dictionary<long, Delivery>();

}