@using ToxiCode.BuyIt.Logistics.Ui.Components
@inherits LayoutComponentBase
<PageTitle>ToxiCode.BuyIt.Logistics.Ui</PageTitle>

<div class="page">
    <main>
        <SHeader/>
        <article class="content px-4">
            @Body
        </article>
        <SFooter/>
    </main>
</div>